$width: 510px;

.source-wrapper {
  position: absolute;
  width: $width;
  right: -($width + 10px);
  top: 0;
  z-index: 999;
  background-color: #FFFFFF;

  .source-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .panel-body {
    padding: 0;
  }
}
.gutter-selected-line {
  background-color: cornflowerblue;
}
