.content {
  display: flex;
}
.controls {
  margin-left: 10px;
}
.action {
  align-self: center;
}
.warp-title {
  display: flex;
}
.badge {
  margin-right: 5px;
}
.badge-block {
  background-color: #337AB7 !important;
}
.badge-size {
  background-color: #800080 !important;
}
.badge-read {
  background-color: #006400 !important;
}
.badge-write {
  background-color: #8B0000 !important;
}
