body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 1200px;
  margin: 0 auto;
}

html, body, .app, .content, #root {
  height: 100%;
}

/* Global overrides */
.vis-timeline {
  overflow: visible;
}

/* Navigation */
.nav {
  margin-bottom: 5px;
}
