.kernel-details {
  display: flex;
  justify-content: space-between;
}

.kernel-deselect {
  align-self: center;
}
.kernel-name {
  font-weight: bold;
}

.warp-panel-wrapper, .warp-list-wrapper {
  margin-right: 10px;
  border-right: 1px solid #000000;
}
.trace-content-wrapper {
  display: flex;
}

.warp-detail-wrapper {
  align-self: right;
}

.memory-block-wrapper {
  width: 100%;
}
