.kernel-details {

}

.kernel-deselect {
  align-self: center;
}
.kernel-name {
  font-weight: bold;
}

.warp-panel-wrapper, .warp-list-wrapper {
  margin-right: 10px;
}
.trace-content-wrapper {
  display: flex;
}

.warp-detail-wrapper {
  flex-grow: 1;
  align-self: right;
}
