.file {
  display: flex;
}
.file-input {
  margin-bottom: 20px;
}
.file-name {
  min-width: 180px;
  margin-right: 10px;
}
.file-label {
  min-width: 150px;
  margin-right: 40px;
}
.file-progress {
  margin-bottom: 0;
}
.label {
  line-height: inherit;
}
