.warp-filter {
  display: flex;
  margin: 5px 0 5px 0;
  align-items: center;

  label {
    margin: 0;
  }

  input[type=number] {
    width: 50px;
  }
}

.dimension {
  padding: 5px;
  span {
    margin-right: 5px;
  }
}
